@page "/Inventory"

<PageTitle>Inventory</PageTitle>
<div class="DiabloBlueGlow" style="font-size:150%">Inventory</div>
<div class="inv-row DiabloBlueGlow">
        <a class="DiabloBlueGlow" href="/" aria-hidden="true">Home</a>   
        
        <a class="DiabloBlueGlow" href="Archives" aria-hidden="true">Archives</a>  
    <a class="DiabloBlueGlow" href="News" aria-hidden="true">News</a>


        <a class="DiabloBlueGlow" href="BloodWyrmProtocol" aria-hidden="true">BloodWyrmProtocol</a> 

        <a class="DiabloBlueGlow" href="Calculon" aria-hidden="true">Calculon</a>
    <a class="DiabloBlueGlow" href="ChemCalcPage" aria-hidden="true">Chemical Calculon</a>
    <a class="DiabloBlueGlow" href="AntigenHunterPage" aria-hidden="true">Antigen Hunter</a>


    <!-- <a class="DiabloBlueGlow" href="ElonX" aria-hidden="true">ElonX</a>--> 

         <a class="DiabloBlueGlow" href="LavaLamp" aria-hidden="true">LavaLamp</a>  
   
  
   
    <a class="DiabloBlueGlow" href="SnowPiercer" aria-hidden="true">SnowPiercer</a>

        <a class="DiabloBlueGlow" href="SpectralX" aria-hidden="true">SpectralX</a>
    
    <!--    <a class="DiabloBlueGlow" href="SpectralXA" aria-hidden="true">SpectralXA</a>-->
    <!--    <a class="DiabloBlueGlow" href="SpectralXB" aria-hidden="true">SpectralXB</a>-->
    <!-- <a class="DiabloBlueGlow" href="SpectralXLab" aria-hidden="true">SpectralXLab</a>-->

    <a class="DiabloBlueGlow" href="Tetris40k" aria-hidden="true">Tetris40k</a>
        <a class="DiabloBlueGlow" href="RubixCube" aria-hidden="true">RubixCube</a>
    <a class="DiabloBlueGlow" href="UltraMarineMineSweeper" aria-hidden="true">UltraMarineMineSweeper</a>
    <a class="DiabloBlueGlow" href="WarCraft" aria-hidden="true">WarCraft</a>

         <a class="DiabloBlueGlow" href="Resources" aria-hidden="true">Resources</a> 
    <!-- <a class="DiabloBlueGlow" href="Privacy" aria-hidden="true">Privacy</a>    -->
          
        <a class="DiabloBlueGlow" href="Weather" aria-hidden="true">Weather</a>  
         
</div>





