@page "/Privacy"

<PageTitle>Privacy</PageTitle>

<div class="DiabloBlueGlow" style="font-size:150%">Privacy</div>


<div class="DiabloBlueGlow">
   Email:RobertChilewski83@gmail.com<br/>
    <a class="DiabloWhiteGlow" href="https://github.com/robert-robot2" target="_blank">Github Link</a><br />
    <a class="DiabloWhiteGlow" href="https://www.facebook.com/robert.chilewski.3/" target="_blank">Facebook</a><br />
    <a class="DiabloWhiteGlow" href="https://www.linkedin.com/in/robert-chilewski-1517882b1/" target="_blank">Linkedin</a><br />

</div>


