@page "/Resources"

<PageTitle>Resources</PageTitle>

<div class="DiabloBlueGlow" style="font-size:150%">Resources</div>


<div class="DiabloWhiteGlow">
    <br />
    <div class="DiabloGreen">
    AI Resources:<br/>
    </div>
    <a class="DiabloWhiteGlow" href="https://claude.ai/" target="_blank">Claude AI</a><br />
    <a class="DiabloWhiteGlow" href="https://chatgpt.com/" target="_blank">ChatGPT AI</a><br />
    <a class="DiabloWhiteGlow" href="https://www.trae.ai/" target="_blank">Trae AI</a><br />
    <a class="DiabloWhiteGlow" href="https://copilot.microsoft.com/" target="_blank">Copilot AI</a><br />
      <div class="DiabloGreen">
    IDE Resources:<br/>
    </div>
    <a class="DiabloWhiteGlow" href="https://visualstudio.microsoft.com/" target="_blank">Visual Studio 2026</a><br />
    <a class="DiabloWhiteGlow" href="https://www.codeblocks.org/downloads/" target="_blank">CodeBlocks</a><br />
      <div class="DiabloGreen">
    Learning Resources:<br/>
     </div>
    <a class="DiabloWhiteGlow" href="https://learn.microsoft.com/aspnet/core/" target="_blank">Microsoft</a><br />
    <a class="DiabloWhiteGlow" href="https://www.w3schools.com/">W3 Schools</a><br />
      <div class="DiabloGreen">
    Art Resources:<br/>
     </div>
    <a class="DiabloWhiteGlow" href="https://www.gimp.org/" target="_blank">Gimp</a><br />
    <a class="DiabloWhiteGlow" href="https://www.blender.org/" target="_blank">Blender</a><br />
      <div class="DiabloGreen">
    OS Resources:<br/>
     </div>
    <a class="DiabloWhiteGlow" href="https://www.microsoft.com/en-us/software-download/windows11?msockid=1447b36e978667980c1ca5ab960666f0" target="_blank">Microsoft Windows</a><br />
    <a class="DiabloWhiteGlow" href="https://www.blackarch.org/" target="_blank">BlackArch Linux</a><br />
      <div class="DiabloGreen">
    Helper Resources:<br/>
     </div>
    <a class="DiabloWhiteGlow" href="https://joytokey.net/en/">Joy2key</a><br />
      <div class="DiabloGreen">
    Game Engine resources:<br/>
     </div>
    <a class="DiabloWhiteGlow" href="https://www.unrealengine.com/en-US">Unreal Engine</a><br />
    <a class="DiabloWhiteGlow" href="https://unity.com/">Unity Engine</a><br />
      <div class="DiabloGreen">
    Asset Resources:<br/>
     </div>
    <a class="DiabloWhiteGlow" href="https://ambientcg.com/">Ambient CG really nice Free Textures! </a><br />
    <a class="DiabloWhiteGlow" href="https://matheowis.github.io/HDRI-to-CubeMap/">Some Guys Cube Map Maker thinger How do i know this guy isnt a cat MAtheow? </a><br />
    <a class="DiabloWhiteGlow" href="https://poly.pizza/">Poly Pizza</a><br />
    <a class="DiabloWhiteGlow" href="https://www.fontspace.com/diabolica-font-f31354">Diablo Font</a><br />
    <a class="DiabloWhiteGlow" href="https://www.fontspace.com/digital-7-font-f7087">Digital Font</a><br />
    <a class="DiabloWhiteGlow" href="https://perchance.org/ai-text-to-image-generator">Perchance AI Text to Image</a><br />
    <a class="DiabloWhiteGlow" href="https://www.spriters-resource.com/pc_computer/diablodiablohellfire/">Diablo 1 Sprites</a><br />
    <a class="DiabloWhiteGlow" href="https://www.spriters-resource.com/pc_computer/starcraft/">Starcraft 1 Sprites</a><br />
    <a class="DiabloWhiteGlow" href="https://www.spriters-resource.com/pc_computer/diablo2diablo2lordofdestruction/">Diablo 2 Sprites</a><br />
    <a class="DiabloWhiteGlow" href="https://www.spriters-resource.com/ms_dos/doomdoomii/">Doom Sprites</a><br />
    <a class="DiabloWhiteGlow" href="https://www.publicdomainpictures.net/en/view-image.php?image=108811&picture=scattered-clouds">Scattered Clouds for fog</a><br />
    <a class="DiabloWhiteGlow" href="https://d2mods.info/resources/infinitum/anims-harlot3.html">Infinitum A Gold Mine Of Sprites</a><br />
      <div class="DiabloGreen">
    WebApp Resources:<br/>
     </div>
    <a class="DiabloWhiteGlow" href="https://www.piskelapp.com/">Piskel Sprite Editor</a><br />  
    <a class="DiabloWhiteGlow" href="https://ezgif.com/gif-to-sprite">EZGIF Convert gif to Sprite Sheet</a><br />
</div>


